header {
    display: block;
    text-align: center;
}

body {
    background-color: lightblue;
    text-align: center;
}

form {
    align-items: center;
    margin: 10vw;
    width: 80vw;
}
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

input[type=button] {
    margin: 5px;
    padding: 5px;
}

#output {
    background-color: white;
    margin: 10vw;
    width: 80vw;
    margin-top: 5px;
}