header {
    display: block;
    text-align: center;
}

body {
    background-color: lightblue;
}

form[id=text] {
    align-items: center;
    margin: 20px;
}
textarea {
    width: 45%;
}

input[type=button] {
    margin: 5px;
    padding: 5px;
    width: 5%;
}